$colors: (
    orange: #f8971a,
    blue: #0077c0,
    red: #b23a48,
    green: #478564,
    purple: #473758,
    white: #fbfbfb,
    lightgrey: #e9ecef,
    grey: #d2d2d2,
    lightblack: #2d2e2e,
    black: #141414,
    darkblack: #080001,
);
